@import "src/styles/colors";

.ui-validation-error {
  font-size: 13px;
  line-height: 16px;

  .ui-validation-error__message {
    display: flex;
    flex-direction: column;
    color: $input-error-color;
  }
}
