@import "src/styles/colors";

.ui-snackbar {
  position: fixed;
  padding: 22px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 56px;
  border-radius: 6px;
  font-size: 13px;
  line-height: 16px;

  &.ui-snackbar--success {
    background-color: #5cb85c; /* Green for success */
    color: #fff;
    box-shadow: 0 10px 15px #4CAF505C;
  }

  &.ui-snackbar--warning {
    background-color: #d9534f; /* Red for warning */
    color: #fff;
    box-shadow: 0 10px 15px #EF7DA05C;
  }

  &.ui-snackbar--top-left {
    top: 56px;
    left: 46px;
  }

  &.ui-snackbar--top-right {
    top: 56px;
    right: 46px;
  }

  .ui-snackbar-content {
    flex-grow: 1;
  }
}





