$white: #FFFFFF;
$background: #EEF0F8;

$table-text-gray: #A4A4B5;
$table-text-gray-dark: #3F4254;
$table-gray: #F4F5F8;
$table-gray-dark: #EFF0F4;

$button-primary: #2E8FF0;
$button-secondary: #F44682;

$input-color: #F3F6F9;
$input-error-color: #EF7DA0;
$input-text: #3F4254;

$label-text: #3F4254;

$snackbar-success: #66BB6A;
$snackbar-warning: #EF7DA0;
