@import "styles/colors";


*{
 box-sizing: border-box;
}

body {
  background: $background;
}

button {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border: none;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  border-spacing: 0;
}

textarea:focus, input:focus{
  outline: none;
}
